$background-color: #EEEEEE;
$bodyText: #555555;
$footerColor: #4B494F;
$footerTextColor: grey;
body {
  width: 100%;
  margin: 0 auto;
}
img {
  width: 100%;
  height: auto;
}
div {
  margin: 0 0 20px 0;

}
h2 {
  font-size: .9em;
  color: $bodyText;
  margin: 0 auto;
  vertical-align: border-top;
}
p {
  margin: 0 auto;
  padding: 30px 80px 0 80px;
  color: $bodyText;
  line-height: 25px;
}
nav {
  background-color: white;
  height: 50px;
  padding: 0 0 20px 0;
}
nav h3 {
  padding: 20px;
  margin: 0 0 30px 20px;
  font-size: 1.5em;
  color: $bodyText;

}
.wrapper {
  background-color: $background-color;
}
.banner {
  background-image: url(../banner.jpg);
  width: 100%;
  height: 200px;
}
.empty {
  width: 100%;
  // height: 80px;
  color: $bodyText;
  font-size: 2em;
  text-align: center;
  vertical-align: middle;
}
.padding {
  width: 100%;
  height: 70px;
}
.answer {
  // height: 220px;
  border-top: 1px solid #E4E4E4;

}
.footer {
  background-color: $footerColor;
  text-align: center;
  padding: 10px;
  width: 100%;
  color: $footerTextColor;
  font-size: 1em;
  font-weight: bold;
}
