$background-color: #EEEEEE;
$bodyText: #555555;
$footerColor: #4B494F;
$footerTextColor: grey;
body {
  width: 100%;
  margin: 0 auto;
}
img {
  width: 100%;
  height: auto;
}
div {
  margin: 0 auto;
  padding: 0 0 40px 0;

}
h2 {
  font-size: 2em;
  color: $bodyText;
  margin: 0 auto;
}
p {
  margin: 0 auto;
  padding: 30px 90px 0 90px;
  color: $bodyText;
  line-height: 25px;
}
nav {
  background-color: white;
  height: 50px;
  padding: 0 0 20px 0;
}
nav h3 {
  padding: 20px;
  margin: 0 0 30px 20px;
  font-size: 1.5em;
  color: $bodyText;

}
.wrapper {
  background-color: $background-color;
}
.padding {
  width: 100%;
  height: 30px;
}
.empty {
  width: 100%;
  color: $bodyText;
  text-align: center;
  margin: 0 auto;
  position: relative;
}
.answerLabel {
  position: absolute;
  top: 20px;
  left: 510px;
}
.answer {
  border-top: 1px solid #E4E4E4;
  padding: 25px 0 20px 0;

}
.footer {
  background-color: $footerColor;
  text-align: center;
  padding: 10px;
  width: 100%;
  color: $footerTextColor;
  font-size: 1em;
  font-weight: bold;
}
